<header class="header">

  <div class="logo">
    Student Course Portal
  </div>

  <nav class="navigation">

    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>

    <a
      routerLink="/courses"
      routerLinkActive="active">
      Courses
    </a>

    <a
      routerLink="/profile"
      routerLinkActive="active">
      Student Profile
    </a>

    <a
      routerLink="/enroll"
      routerLinkActive="active">
      Enroll
    </a>

    <a
      routerLink="/registration"
      routerLinkActive="active">
      Registration
    </a>

  </nav>

</header>